body {
    font-family: 'Unbounded', sans-serif;
    padding: 20px;
    box-sizing: border-box;
    background: url('image.jpg') fixed;
    background-size: 100%;
    font-size: 18px
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Unbounded', sans-serif;    
}

form {
    margin-bottom: 20px;
    font-family: 'Unbounded', sans-serif; 
    color: white;

}

input[type="text"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-family: 'Unbounded', sans-serif;
    max-width: 300px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Unbounded', sans-serif;
    display: block; 
    margin-bottom: 10px; 
}

input[type="submit"]:hover {
    background-color: #45a049;
    transition: background-color 0.3s ease;
    vertical-align: middle;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: white;
}

h2 {
    margin-top: 20px;
    animation: fade-in 1s ease;
    color:white;
    font-family: 'Unbounded', sans-serif;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}